<!--
Here is the main HTML where handlebars will render to
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="assets/css/typed.js"></script>
    <script>
        $(function() {
            $(".element").typed({
                strings: ['"Connect."', ' "Me."', '"Connect.Me"'],
                typeSpeed: 100
            });
        });
    </script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <title>Connect</title>
</head>

<body class="signuppage">

    {{{ body }}}
</body>

</HTML>
